.navbar {
    margin-bottom: 0px;
}
th{
    text-align: center;
}
span.right-text {
    text-align: center;
}
.img_rules{
    width: 50vw;margin: auto;
}
@media (max-width: 798px){
    .img_rules{
        width: 85vw;
    }
}
